body{
    background: linear-gradient(45deg,#e442d085 ,#f5e0f3);
    text-align: center;
}




/*
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    -webkit-text-fill-color: red;
*/
h1{
    font-family: 'Dancing Script', cursive;
    font-size: 7vw;
    color: #e85bd7;
    text-shadow: 15px 10px aliceblue;
}

.todos{
    text-align: center;
    background-image: linear-gradient(#ea57b6e0 ,#ece3ece3 ) , url(../imges/bg.jpg);
    border-top: 12px solid #daa710a6;
    font-size: 1vw;
    min-height: 500px;
    padding-bottom: 50px;
}

.card{
    width: 60vw;
    border: 3px solid pink;
    margin: 50px auto;
    border-radius: 0px 50px;
    box-shadow: 15px 20px #f8f9fa30;
    background-color: #e8c6dd87 !important;
}
/*headrer of card*/
.card-header{
    font-family: 'Cairo', sans-serif;
    font-size: 2vw;
    color: #dc5ebb;
    text-shadow: 8px 6px #debb5270;
}
.card-text{
    font-family: 'Grandstander', cursive;
    color:#4a1158
}

.btn-outline-primary {
    background-color: #d27dbe8f;
    color: rgb(0 0 0 / 35%);
    border-radius: 5px;
    border-color: #e483dc;
    font-weight: bold!important;
    font-size: 12px!important;
    box-shadow: 0px 0px 4px 8px #ded29663;
}

  
  .card-body {
    margin-top: 2vw;
    overflow: hidden;
    margin-bottom: 10px;
    max-height: 4vw;  
  }
.msg{
    position: fixed;
    top: 15vw;
    right: 44vw;
    font-size : 3vw;
    color : #522b4d9e;
    font-weight: bold;
    font-family: cursive;
}


/*
.read-more-state:checked ~ .card-body {
    max-height: none;
  }*/
/*on click star*/
/*
.test {
    color: #daa710 !important;
    font-weight: bold;
    text-shadow: 0 0 6px #503150;
}
*/
label[fav="true"]
{
    color: #daa710 !important;
    font-weight: bold;
    text-shadow: 0 0 6px #503150;
}

.card-footer{
    margin-bottom: 1vw;
}
.card-footer .btn {
    font-size: 1vw;
    margin-right: 20px;
    min-width: 75px;
    font-weight: 600;
    letter-spacing: 1px;
}
.btn-outline-primary:hover ,.btn-outline-info:hover,
.btn-outline-primary:not(:disabled):not(.disabled):active {
    color: #f8f2f9;
    background-color: #e2a6d4;
    border-color: #e8c8e1;
}
.btn-outline-primary:focus ,
.btn-outline-info:focus,
.btn-outline-info:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgb(244 208 240); 
    background-color: #e2a6d4;
    outline: 0;
}

.btn:active:focus, .btn:focus {
    outline: none;
    outline-offset: -2px;
    color:#fff;
    box-shadow: 0 0 0 0.1rem rgb(244 208 240);
    }
    .glyphicon{
        top:3px;
        left:0px;
    padding:0px 6px;
    }
.card-footer .btn-outline-info{
    border:none;
    border-radius: 50%;
    font-size: 2vw;
    color:rgb(245 223 240);
    min-width: 10px;
    padding: 0px;
    box-shadow: 1px 1px 7px 11px #f7f1d738;
}

/*add button*/


.secborder{ position: fixed;
    position: fixed;
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    background-color: #eba7dc78;
    right: 4vw;
    top: 6vw;
    padding: 0px;
    margin: 0px;
   box-shadow: 9px 8px 24px 1px #777;
}
.border{    position: fixed;
    width: 7.2vw;
    height: 7.2vw;
    border-radius: 50%;
    background-color: #e28fc175;
    right: 4.4vw;
    top: 6.4vw;
    padding: 0px;
    margin: 0px;
}
.add-btn {
    position: fixed;
    top: 7vw;
    right: 5vw;
    border-radius: 50%;
    width: 6vw;
    height: 6vw;
    background-color: #f1a9e987;
    border: 9px solid #d67da44f;
    transition: width 2s, height 2s , background-color 2s;
}
.add-btn:hover{
    width: 7vw;
    height: 7vw;
    top: 6.5vw;
    right: 4.5vw;
    background-color: #f3bfeeec;
    border: 9px solid #d67da44f;
}

.sp{
    position: relative;
    color:#f5d7f1;
    font-size: 3vw;
    transition: font-size 2s , color 7s;
    
}
.sp:hover{
    font-size: 4.5vw;
    color :#e15eadc2;
}
.add-btn:focus , .add-btn:active ,.btn-primary:active:hover
{
    position: fixed;
    top: 7vw;
    right: 5vw;
    border-radius: 50%;
    width: 6vw;
    height: 6vw;
    background-color: #f1a9e987;
    border: 9px solid #d67da44f;
}




/*my-modal*/
.modal-header{
    max-height: 4vw;
}
.modal-title{
    color: antiquewhite;
    font-size: 1.5vw;
    text-shadow: 0px 0px 17px #f3caec;
}

.modal-body{
    min-height: 10vw;
    padding: 1vw;
}


.modal-content{
    width: 40vw;
    border: 3px solid pink;
    margin: 50px auto;
    border-radius: 50px;
    background-color: #6d375cba !important; 
}
#title , #title_update{
    background-color: #70355c4a;
    border: 1px solid #a0719470;
    border-radius: 15px;
    text-align: center;
    color: azure;
    width: 100%;
    margin-bottom: 1vw;
}

#description , #description_update{
    background-color: #70355c4a;
    border: 1px solid #a0719470;
    border-radius: 15px;
    text-align: center;
    color: azure;
    width: 100%;
    height: 5vw;
}


#save-to-do , #update-to-do {
    background-color: #e2a6d4;
    border:none;
}
#cls{
    border:none;
    color:#e2a6d4;
}







